.tableclass {
    background-image: url('newmap.png');
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
} 

.populated {
    border-right:1px solid ;
    border-left:1px solid;
    border-top:1px solid ;
    border-bottom:1px solid ; 
    width: 12px;
    height: 12px;
    font-size: 8px;
    color:transparent;

}
.check {
    border-right:1px solid ;
    border-left:1px solid ;
    border-top:1px solid ;
    border-bottom:1px solid ; 
    width: 12px;
    height: 12px;
    font-size: 8px;
    color: transparent;

}
.path {
    border-right:1px solid ;
    border-left:1px solid ;
    border-top:1px solid ;
    border-bottom:1px solid; 
    width: 12px;
    height: 12px;
    font-size: 8px;
    background-color:rgba(255, 0, 0, 0.3);; 
    color: transparent;

}



